{% extends 'algorithm.html' %}

{% block head %}{%endblock%}

{% block body %}
    {{ super() }}
{% endblock %}

{% block function %}
<div class="AlgFunction" id="StateTomography">
    <h1>State Tomography</h1>
    <p>State tomography starts with measuring the quantum state on a complete basis of measurements. Given the measurement data we wish to determine
        the best possible estimate for the quantum state. Using Bayes’ theorem to define the probability of the state (<i>&rho;</i>) given the data:</p>
    <img class="AlgoEquation" src="../static/images/Algorithm/Bayes_Rule.PNG" alt="Bayes Rule">
    <p>There is a variety of methods we can use to find an estimate for the state <i>&rho;</i>, one of which is the <a href="{{url_for('displayAlgorithmPage', function='tomography_MLE')}}">maximum likelihood</a> approach. </p>
    <h2>Distribution of Counts</h2>
    <p>The counts of the measurements can be modeled by a <a href="https://en.wikipedia.org/wiki/Poisson_distribution" target="_blank">Poisson Distribution</a>. With high enough counts we can approximate this with a Normal
        Distribution using the <a href="https://en.wikipedia.org/wiki/Central_limit_theorem" target="_blank">Central Limit Theorem</a>. A important fact of the poisson distribution is the variance is equal to the mean. Derivation
        of the model used is covered in <a href="http://research.physics.illinois.edu/QI/Photonics/tomography-files/amo_tomo_chapter.pdf" target="_blank">Photonic State Tomography</a> by  Joe Altepeter.
    </p>


    <h3>1 Detector per Qubit</h3>
    <p>For each measurement we have 1 count number. For tomography on a single qubit using one detector the counts are the singles on our detector. For two qubits
        and two detectors, the counts are the coincidences between our two detectors. The mean number of counts follows:</p>
    <img class="AlgoEquation" src="../static/images/Algorithm/1det_counts.PNG" alt="1 detector counts">
    <img class="AlgoDefinition" src="../static/images/Algorithm/1det_definitions.PNG" alt="1 detector definitions">
    <h4>Variables</h4>
    <ul class="AlgoVariables">
        <li><i>I<sub>0</sub></i> : The overall <b>intensity</b> initially approximated using <a href="{{url_for('displayAlgorithmPage', function='tomography_LINEAR')}}">linear tomography</a></li>
        <li><i>I<sub>i</sub></i> : The <b>overall_norms</b> of measurement i. For 1 qubit per detector this is simply the <b>intensities</b> which can be given input. Default is 1.</li>
        <li><i>M'<sub>i</sub></i> : Measurement i with <a href="{{url_for('displayAlgorithmPage', function='tomography_crosstalk')}}">cross talk correction</a></li>
        <li><i>M<sub>i</sub></i> : Measurement i. The state the our target quantum state is projected on. These are given in pure state form but in this equation they are presented in density form.</li>
        <li><i>a<sub>i</sub></i> : Predicted <b>accidentals</b> counts for measurement i. More info can be found on the <a href="{{url_for('displayAlgorithmPage', function='tomography_acc')}}"> accidental correction</a> page.
    </ul>


    <h3>2 Detector per Qubit</h3>
    <p>For each measurement we have N<sup>2</sup> count numbers. For tomography on a single qubit using two detectors the counts are the singles on each detector. For two qubits
        and four detectors, the counts are the coincidences for each detector pair. The mean number of counts follows:</p>
    <img class="AlgoEquation" src="../static/images/Algorithm/2det_counts.PNG" alt="2 detector counts">
    <img class="AlgoDefinition" src="../static/images/Algorithm/2det_definitions.PNG" alt="2 detector definitions">
    To reach a similar for as 1 detector per qubit we flatten our equation into the form:
    <img class="AlgoEquation" src="../static/images/Algorithm/2detFlat_counts.PNG" alt="2 detector counts flattened">
    <img class="AlgoDefinition" src="../static/images/Algorithm/2detFlat_definitions.PNG" alt="2 detector definitions flattened">
    <h4>Variables</h4>
    <ul class="AlgoVariables">
        <li><i>I<sub>0</sub></i> : The overall <b>intensity</b> initially approximated using <a href="{{url_for('displayAlgorithmPage', function='tomography_LINEAR')}}">linear tomography</a></li>
        <li><i>I<sub>k</sub></i> : The <b>overall_norms</b> of measurement k. Equal to the <b>intensities</b> of measurement i times the <b>efficiency</b> of pair j.</li>
        <li><i>M'<sub>k</sub></i> : Measurement k with <a href="{{url_for('displayAlgorithmPage', function='tomography_crosstalk')}}">cross talk correction</a></li>
        <li><i>M<sub>i</sub></i> : Measurement k. The state the our target quantum state is projected on for measurement i and detector pair j. These are given in pure state form but in this equation they are presented in density form.</li>
        <li><i>a<sub>i</sub></i> : Predicted <b>accidentals</b> counts for measurement i and detector pair j. More info can be found on the <a href="{{url_for('displayAlgorithmPage', function='tomography_acc')}}"> accidental correction</a> page.
    </ul>
    <hr>
    <p>Words in <b>bold</b> correspond to variables defined in the source code.</p>
</div>
{% endblock %}



