{% extends 'algorithm.html' %}

{% block head %}{%endblock%}

{% block body %}
    {{ super() }}
{% endblock %}

{% block function %}
<div class="AlgFunction" id="StateTomography">
    <h1>StateTomography</h1>
    <p>The main function that our library is centered around. After initializing a Tomography object
        with the number of qubits in the constructor, the <strong>StateTomography</strong> function can be called. </p>
    <div class="row">
        <div class="col-md-5">
            <h3><strong>Inputs:</strong></h3>
            <div class="gray-background">
            <ul>
                <li><strong>measurements</strong></li>
                <ul><li>A matrix that stores the states that were used for measurements.</li></ul>
                <li><strong>counts</strong></li>
                <ul><li>An array with a length equal to the number of measurements taken.
                    Each value corresponds to the number of counts measured for the measurement basis in the same row
                    in the measurements input.</li></ul>
                <li><strong>(optional)</strong></li>
                <ul>
                    <li>crosstalk</li>
                    <li>efficiency</li>
                    <li>time</li>
                    <li>singles</li>
                    <li>window</li>
                    <li>error</li>
                    <li>intensities</li>
                    <li>method: ['MLE','HMLE','BME','LINEAR']</li>
                    <ul><li>See <a href="{{url_for('displayDocumentationPage',display='StateTomography')}}">StateTomography</a> for more info</li></ul>
                </ul>
            </ul>
            </div>
        </div>
        <div class="col-md-7">
            <h4 class="stepnumber">Step 1:</h4>
            <p>The <a href="{{url_for('displayDocumentationPage',display='buildTomoInput')}}">buildTomoInput</a> function is used to make a large tomography input matrix from the measurements, counts, and other optional parameters.</p>
            <p class="stepdesc">The matrix is then passed into the StateTomography_Matrix Function where the next steps take place.</p>
            <div class="steprow">
                <h4 class="stepnumber">Step 2:</h4>
                <p>The large tomography input matrix is given to the <a href="{{url_for('displayAlgorithmPage', function='filter_data')}}">filter_data</a> function.</p>
                <div class="stepdesc">
                    <p>The filter_data function returns <strong>four arrays</strong>:</p>
                    <ul>
                        <li>coincidences</li>
                        <li>measurement state density matrices</li>
                        <li>measurement pure states</li>
                        <li>accidentals</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="steprow">
            <h4 class="stepnumber">Step 3:</h4>
            <p>If a starting tomography state is not specified in the Conf Settings (See <a href="{{url_for('displayDocumentationPage', display='Conf_File')}}">Conf_File</a>,
            <a href="{{url_for('displayDocumentationPage', display='setConfSetting')}}">setConfSetting</a>,
                or <a href="{{url_for('displayDocumentationPage', display='importConf')}}">importConf</a>),
                the <a href="{{url_for('displayAlgorithmPage', function='tomography_LINEAR')}}">linear_tomography</a> function
                uses linear techniques to find a good starting state for tomography. If the 'LINEAR' method is specified, then this linear tomography is what is returned from <strong>StateTomography()</strong>.</p>
            <p class="stepdesc">linear_tomography takes the <strong>coincidences</strong> and <strong>measurements</strong> as inputs
        and returns a <strong>density matrix</strong> corresponding to the starting state and an <strong>intensity</strong> value that was used to normalize the state</p>
        </div>

        <div class="row steprow">
            <div class="col-md-7">
                <h4 class="stepnumber">Step 4:</h4>
                <p>If 'MLE' is the specified method, the <a href="{{url_for('displayAlgorithmPage', function='tomography_MLE')}}">maximum_likelihood_tomography</a>
                    function performs maximum likelihood estimation to find the state that corresponds to the maximum probability that the
                    observed measurements occured.</p>
                <br>
                <p>If 'HMLE' is the specified method, the <a href="{{url_for('displayAlgorithmPage', function='tomography_HMLE')}}">tomography_HMLE</a> function uses hedged maximum likelihood estimation to find desired density matrix.</p>
                <br>
                <p>If 'BME' is the specified method, the <a href="{{url_for('displayAlgorithmPage', function='tomography_BME')}}">tomography_BME</a> function uses bayesian methods to find the desired density matrix.</p>
                <p class="stepdesc">These functions are all passed the <strong>starting matrix</strong>, <strong>coincidences</strong>,
                    <strong>measurement density matrices</strong>, <strong>accidentals</strong>, and <strong>norms</strong>(used for drift correction). They all returns the <strong>final density matrix</strong>,
                    <strong>intensity value</strong> used to normalize the state, and the <strong>final optimization difference</strong></p>
            </div>
            <div class="col-md-5">
                <h3><strong>Return Values:</strong></h3>
                <div class="gray-background">
                    <ul>
                        <li><strong>Density Matrix</strong></li>
                        <ul><li>The matrix corresponding to the state that most likely to have produced the observed measurements.</li></ul>
                        <li><strong>Intensity</strong></li>
                        <ul><li>The predicted overall intensity that was used to normalize the state.</li></ul>
                        <li><strong>Final Optimization Value</strong></li>
                        <ul><li>The final value of the optimization function that was used to calculate the most likely state.</li></ul>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}



