{% extends 'base.html' %}

{% block head %}
<style>
	div#BodyContent {
    	padding:0px 5%;
	}


</style>
{% endblock %}

{% block body %}

<div class="wiki">
    <div class="row">
        <div class="col-md-2" id="TableOfContents">
            <h3 style="text-align:center;">Table Of Contents</h3>
            <ul>
                <li><a href="{{url_for('displayAlgorithmPage', function='StateTomography')}}"><h5>StateTomography</h5></a></li>
                <ul>
                    <li><a href="{{url_for('displayAlgorithmPage', function='filter_data')}}"><h5>filter_data</h5></a></li>
                    <li><a href="{{url_for('displayAlgorithmPage', function='tomography_LINEAR')}}"><h5>tomography_LINEAR</h5></a></li>
                    <li><a href="{{url_for('displayAlgorithmPage', function='tomography_MLE')}}"><h5>tomography_MLE</h5></a></li>
                    <li><a href="{{url_for('displayAlgorithmPage', function='tomography_HMLE')}}"><h5>tomography_HMLE</h5></a></li>
                    <li><a href="{{url_for('displayAlgorithmPage', function='tomography_BME')}}"><h5>tomography_BME</h5></a></li>
                </ul>
            </ul>
        </div>
        <div class="col-md-10" id="Methods">
            <div class="method">
                {% block function %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}