<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kwiat Quantum Information Group</title>
    <meta name="description" content="The Kwiat quantum information research group at the University of Illinois at Urbana-Champaign. Our research interests include fundamental studies of quantum mechanics, optical quantum information resources and applications, and the interaction of quantum states of light with biological systems."/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">


      <!-- Imports from base.html -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/Main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/NavBar.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




        {% block head %}{% endblock %}

</head>
<body>

    <!--Nav Bar START-->
    <!--#############-->
    <nav class="navbar navbar-expand-lg" id="MainNav">
        <div class="navbar-header"><a class="nav-link" href="{{url_for('index')}}">Quantum Tomography</a></div>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item btn">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="http://research.physics.illinois.edu/QI/Photonics/">Group Page</a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="{{url_for('state_characterization')}}">State Characterization</a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="{{url_for('displayDocumentationPage')}}">Documentation</a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="{{url_for('displayAlgorithmPage')}}">Our Algorithm</a>
                </li>
                <li class="nav-item btn">
                    <a class="nav-link" href="{{url_for('performance')}}">Performance</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-warning" href="https://pypi.org/project/Quantum-Tomography/" target="_blank">Download</a>
                </li>
            </ul>
            </ul>
        </div>
    </nav>
    <!--Nav Bar END-->
    <!--###########-->


    <!-- Body Content START-->
    <!--###################-->
    <div id="BodyContent">
      {% block body %}{% endblock %}
    </div>
    <!-- Body Content END-->
    <!--#################-->

</body>
</html>
