{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<script>
function toggleCustom(selectID, customValue, customID, pValue, pID) {
    var customInput = document.getElementById(customID);
    var pInput = document.getElementById(pID);
    var select = document.getElementById(selectID);
    var selected = select.value;

    var customDisplaySetting = customInput.style.display;
    var pDisplaySetting = pInput.style.display;


    if (customDisplaySetting == 'none' && selected == customValue) {
        customInput.style.display = 'block';
        pInput.style.display = 'none';
    } else  if (pDisplaySetting == 'none' && selected == pValue) {
        customInput.style.display = 'none';
        pInput.style.display = 'block';
    } else {
        customInput.style.display = 'none';
        pInput.style.display = 'none';
    }
}

</script>

<div class="container blochsphere">
    <div class="row">
        <div class="col-md-6">
            <h3>Here, you can visualize the effects of 1-qubit quantum gates on quantum states on the <a class="link" href="https://en.wikipedia.org/wiki/Bloch_sphere" target="_blank">Poincar&eacute; (or Bloch) Sphere.</a></h3>
            <br>
            <hr>
            <form method="post" action="singleQubitVisuals">
                <div class="row">
                    <div class="stateEntry">
                        <label for="state"><strong>Choose a State:</strong></label>
                        <select id="state" name="state_selection">
                            <option value="H" {% if state_to_select == 'H' %} selected {% endif %}>|H&#10217;</option>
                            <option value="V" {% if state_to_select == 'V' %} selected {% endif %}>|V&#10217;</option>
                            <option value="D" {% if state_to_select == 'D' %} selected {% endif %}>|D&#10217;</option>
                            <option value="A" {% if state_to_select == 'A' %} selected {% endif %}>|A&#10217;</option>
                            <option value="R" {% if state_to_select == 'R' %} selected {% endif %}>|R&#10217;</option>
                            <option value="L" {% if state_to_select == 'L' %} selected {% endif %}>|L&#10217;</option>
                        </select>
                    </div>

                    <hr>

                    <div class="gateEntry">
                        <label for="gate1"><strong>Choose a First Gate:</strong></label>
                        <select id="gate1" name="gate_1_selection" onchange="toggleCustom('gate1', 'custom', 'customTable1', 'P', 'pgate1')">
                            <option value="X" {% if gate_1_to_select == 'X' %} selected {% endif %}>X gate</option>
                            <option value="Y" {% if gate_1_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                            <option value="Z" {% if gate_1_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                            <option value="H" {% if gate_1_to_select == 'H' %} selected {% endif %}>H gate</option>
                            <option value="P" {% if gate_1_to_select == 'P' %} selected {% endif %}>P gate (phase shift)</option>
                            <option value="custom" {% if gate_1_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                        </select>
                        <div id="customTable1" class="customgate" {% if gate_1_to_select == 'custom' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p>Enter the <strong>Matrix Representation</strong> of the Desired Quantum Gate:</p>
                            <p><small>Complex numbers can be entered as such: 1 + 2i</small></p>
                            <table>
                            <tr>
                                <td><input type="text" name="gate1_element1" value="{{dispgate1[0]}}"></td>
                                <td><input type="text" name="gate1_element2" value="{{dispgate1[1]}}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="gate1_element3" value="{{dispgate1[2]}}"></td>
                                <td><input type="text" name="gate1_element4" value="{{dispgate1[3]}}"></td>
                            </tr>
                            </table>
                        </div>
                        <div id="pgate1" class="pgateangle" {% if gate_1_to_select == 'P' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p><strong>Angle: (degrees)</strong></p>
                            <input type="text" name="pgate1_angle" value="{{dispgate1[0]}}">
                        </div>
                    </div>

                    <div class="gateEntry">
                        <label for="gate2"><strong>Choose a Second Gate:</strong></label>
                        <select id="gate2" name="gate_2_selection" onchange="toggleCustom('gate2', 'custom', 'customTable2', 'P', 'pgate2')">
                            <option value="0" {% if gate_2_to_select == '0' %} selected {% endif %}>None</option>
                            <option value="X" {% if gate_2_to_select == 'X' %} selected {% endif %}>X gate</option>
                            <option value="Y" {% if gate_2_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                            <option value="Z" {% if gate_2_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                            <option value="H" {% if gate_2_to_select == 'H' %} selected {% endif %}>H gate</option>
                            <option value="P" {% if gate_2_to_select == 'P' %} selected {% endif %}>P gate (phase shift)</option>
                            <option value="custom" {% if gate_2_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                        </select>
                        <div id="customTable2" class="customgate" {% if gate_2_to_select == 'custom' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p>Enter the <strong>Matrix Representation</strong> of the Desired Quantum Gate:</p>
                            <p><small>Complex numbers can be entered as such: 1 + 2i</small></p>
                            <table>
                            <tr>
                                <td><input type="text" name="gate2_element1" value="{{dispgate2[0]}}"></td>
                                <td><input type="text" name="gate2_element2" value="{{dispgate2[1]}}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="gate2_element3" value="{{dispgate2[2]}}"></td>
                                <td><input type="text" name="gate2_element4" value="{{dispgate2[3]}}"></td>
                            </tr>
                            </table>
                        </div>
                        <div id="pgate2" class="pgateangle" {% if gate_2_to_select == 'P' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p><strong>Angle: (degrees)</strong></p>
                            <input type="text" name="pgate2_angle" value="{{dispgate2[0]}}">
                        </div>
                    </div>
                    <div class="gateEntry">
                        <label for="gate3"><strong>Choose a Third Gate:</strong></label>
                        <select id="gate3" name="gate_3_selection" onchange="toggleCustom('gate3', 'custom', 'customTable3', 'P', 'pgate3')">
                            <option value="0" {% if gate_3_to_select == '0' %} selected {% endif %}>None</option>
                            <option value="X" {% if gate_3_to_select == 'X' %} selected {% endif %}>X gate</option>
                            <option value="Y" {% if gate_3_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                            <option value="Z" {% if gate_3_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                            <option value="H" {% if gate_3_to_select == 'H' %} selected {% endif %}>H gate</option>
                            <option value="P" {% if gate_3_to_select == 'P' %} selected {% endif %}>P gate (phase shift)</option>
                            <option value="custom" {% if gate_3_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                        </select>
                        <div id="customTable3" class="customgate" {% if gate_3_to_select == 'custom' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p>Enter the <strong>Matrix Representation</strong> of the Desired Quantum Gate:</p>
                            <p><small>Complex numbers can be entered as such: 1 + 2i</small></p>
                            <table>
                            <tr>
                                <td><input type="text" name="gate3_element1" value="{{dispgate3[0]}}"></td>
                                <td><input type="text" name="gate3_element2" value="{{dispgate3[1]}}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="gate3_element3" value="{{dispgate3[2]}}"></td>
                                <td><input type="text" name="gate3_element4" value="{{dispgate3[3]}}"></td>
                            </tr>
                            </table>
                        </div>
                        <div id="pgate3" class="pgateangle" {% if gate_3_to_select == 'P' %} style="display:block;" {% else %} style="display:none;" {% endif %}>
                            <p><strong>Angle: (degrees)</strong></p>
                            <input type="text" name="pgate3_angle" value="{{dispgate3[0]}}">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row"  style="padding-top: 20px;">
                    <button type="submit" class="btn btn-primary btn-purple">Submit</button>
                </div>

            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{sphere_path}}" style="vertical-align: middle;">
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}