{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<script>
function toggleCustom(tableID, selectID) {
    var table = document.getElementById(tableID);
    var select = document.getElementById(selectID);
    var selected = select.value;

    var displaySetting = table.style.display;


    if (displaySetting == 'none' && selected == 'custom') {
        table.style.display = 'block';
    } else {
        table.style.display = 'none';
    }
}

</script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="singleQubitVisuals">
                <div class="row">
                <label for="state">Choose a State:</label>
                <select id="state" name="state_selection">
                    <option value="H" {% if state_to_select == 'H' %} selected {% endif %}>|H></option>
                    <option value="V" {% if state_to_select == 'V' %} selected {% endif %}>|V></option>
                    <option value="D" {% if state_to_select == 'D' %} selected {% endif %}>|D></option>
                    <option value="A" {% if state_to_select == 'A' %} selected {% endif %}>|A></option>
                    <option value="R" {% if state_to_select == 'R' %} selected {% endif %}>|R></option>
                    <option value="L" {% if state_to_select == 'L' %} selected {% endif %}>|L></option>
                </select>
                <label for="gate1">Choose a First Gate:</label>
                <select id="gate1" name="gate_1_selection" onchange="toggleCustom('customTable1', 'gate1')">
                    <option value="X" {% if gate_1_to_select == 'X' %} selected {% endif %}>X gate</option>
                    <option value="Y" {% if gate_1_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                    <option value="Z" {% if gate_1_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                    <option value="H" {% if gate_1_to_select == 'H' %} selected {% endif %}>H gate</option>
                    <option value="custom" {% if gate_1_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                </select>
                    <div id="customTable1" style="display:none;">
                        <table>
                        <tr>
                            <td><input type="text" name="gate1_element1" value="0"></td>
                            <td><input type="text" name="gate1_element2" value="0"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="gate1_element3" value="0"></td>
                            <td><input type="text" name="gate1_element4" value="0"></td>
                        </tr>
                        </table>
                    </div>

                <label for="gate2">Choose a Second Gate:</label>
                <select id="gate2" name="gate_2_selection" onchange="toggleCustom('customTable2', 'gate2')">
                    <option value="0" {% if gate_2_to_select == '0' %} selected {% endif %}>None</option>
                    <option value="X" {% if gate_2_to_select == 'X' %} selected {% endif %}>X gate</option>
                    <option value="Y" {% if gate_2_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                    <option value="Z" {% if gate_2_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                    <option value="H" {% if gate_2_to_select == 'H' %} selected {% endif %}>H gate</option>
                    <option value="custom" {% if gate_2_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                </select>
                    <div id="customTable2" style="display:none;">
                        <table>
                        <tr>
                            <td><input type="text" name="gate2_element1" value="0"></td>
                            <td><input type="text" name="gate2_element2" value="0"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="gate2_element3" value="0"></td>
                            <td><input type="text" name="gate2_element4" value="0"></td>
                        </tr>
                        </table>
                    </div>
                <label for="gate3">Choose a Third Gate:</label>
                <select id="gate3" name="gate_3_selection" onchange="toggleCustom('customTable3', 'gate3')">
                    <option value="0" {% if gate_3_to_select == '0' %} selected {% endif %}>None</option>
                    <option value="X" {% if gate_3_to_select == 'X' %} selected {% endif %}>X gate</option>
                    <option value="Y" {% if gate_3_to_select == 'Y' %} selected {% endif %}>Y gate</option>
                    <option value="Z" {% if gate_3_to_select == 'Z' %} selected {% endif %}>Z gate</option>
                    <option value="H" {% if gate_3_to_select == 'H' %} selected {% endif %}>H gate</option>
                    <option value="custom" {% if gate_3_to_select == 'custom' %} selected {% endif %}>custom gate</option>
                </select>
                    <div id="customTable3" style="display:none;">
                        <table>
                        <tr>
                            <td><input type="text" name="gate3_element1" value="0"></td>
                            <td><input type="text" name="gate3_element2" value="0"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="gate3_element3" value="0"></td>
                            <td><input type="text" name="gate3_element4" value="0"></td>
                        </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-purple">Submit</button>
                </div>

            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{sphere_path}}" style="vertical-align: middle;">
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}