{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">

        <!--<form id="upload-form" action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">-->

        <form method="POST" action="stateCharacterization2">
                <fieldset>
                <!--Slider 1 -->
                    <div class="col-md-4">
                        <h4><strong>Term Imbalance:</strong></h4>

                    </div>
                    <div class="col-md-10">
                        <p>Defined as (|b/a|)<sup>2</sup> in the equation &psi; = a|HH> + b|VV>, assuming b &leq; a.</p>
                    </div>
                    <div class="col-md-8">
                        <div class="slidecontainer">
                                  <input type="range" name="amountRangeEps" min="0" max="1" value="{{eps}}" step=".01" oninput="this.form.amountInputEps.value=this.value" id="epsilonRng" />
                                  <input type="number" name="amountInputEps" min="0" max="1" value="{{eps}}" step=".01" oninput="this.form.amountRangeEps.value=this.value"id="epsilonInp"/>
                                  <br>
                        </div>
                    </div>

                <!--Slider 2 -->
                    <div class="col-md-4">
                        <h4><strong>Decoherence:</strong></h4>
                    </div>
                    <div class="col-md-10">
                        <p>The fraction of the maximum off-diagonal elements in the state's density matrix</p>
                    </div>
                    <div class="col-md-8">
                        <div class="slidecontainer">
                              <input type="range" name="amountRangeDco" min="0" max="1" value="{{dec}}" step=".01" oninput="this.form.amountInputDco.value=this.value" id="decoherenceRng" />
                              <input type="number" name="amountInputDco" min="0" max="1" value="{{dec}}" step=".01" oninput="this.form.amountRangeDco.value=this.value"id="decoherenceInp" />
                              <br>
                        </div>
                    </div>

                <!--Slider 3 -->
                    <div class="col-md-4">
                        <h4><strong>Background:</strong></h4>
                    </div>
                    <div class="col-md-10">
                        <p>The proportion of the background density that is measured (background density is 1/4(I<sub>4</sub>, the 4x4 identity matrix, for a 2 qubit state)</p>
                    </div>
                    <div class="col-md-8">
                        <div class="slidecontainer">
                              <input type="range" name="amountRangeBgd" min="0" max="1" value="{{bac}}" step=".01" oninput="this.form.amountInputBgd.value=this.value" id="backgroundRng" />
                              <input type="number" name="amountInputBgd" min="0" max="1" value="{{bac}}" step=".01" oninput="this.form.amountRangeBgd.value=this.value" id="backgroundInp" />
                              <br>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-primary btn-purple">Submit</button>
                    </div>
                </fieldset>
        </form>
    </div>
    <div class="col-md-6">


        <h1>Results for:</h1>
        <div class="row">
            <div class="col-sm-4">
                <p>Term Imbalance = {{eps}}</p>
            </div>
            <div class="col-sm-4">
                <p>Decoherence = {{dec}}</p>
            </div>
            <div class="col-sm-4">
                <p>Background = {{bac}}</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <img src="{{grph}}" alt="Image Placeholder" width = "450" height="400" class="center">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Concurrence = {{concRND}}</h2>
            </div>
            <div class="col-md-6">
                <h2>DA visibility = {{daVisRND}}</h2>
            </div>
        </div>

    </div>

</div>

{% endblock %}