body {
    overflow-x:hidden;
    font-family:'Roboto', sans-serif;

}

:root {
    --rebeccapurple:#663399;
}

div#BodyContent {
    padding:15px 10%;
}

.lib_Ref div#TableOfContents li{
    color:rebeccapurple;
    text-decoration: underline;
    cursor: pointer;
}
.lib_Ref div#Methods
{
	padding-bottom:70px;
	border-bottom:solid lightgrey;
}
.lib_Ref div.MethodInfo h1
{
	font-weight:bold;
	color:rebeccapurple;
}
.lib_Ref div.MethodInfo p.methodShortDesc
{
	padding-left:40px;
}
.lib_Ref div.MethodInfo table
{
	border-left:5px lightgrey solid;
	border-radius:15px;
	margin:10px;
	table-layout: fixed;
}
.lib_Ref div.MethodInfo td.header h6
{
	background-color:lightgrey;
	margin-top:0px;
	padding:2px;
	padding-right:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.lib_Ref div.MethodInfo td.header
{
	display:table-caption;
	width: 100px;
}
.lib_Ref div#TableOfContents h3{
	font-size:26px;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:solid 2px rebeccapurple;
}
