body {
    overflow-x:hidden;
    font-family:'Roboto', sans-serif;

}

:root {
    --rebeccapurple:#663399;
}

div#BodyContent {
    padding:15px 10%;
}

input[type=range] {
  width: 30%;
  margin: 3.6px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(102, 51, 153, 0.3);
  border: 0.5px solid #000000;
  border-radius: 10.1px;
  width: 100%;
  height: 11.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -4.1px;
  width: 19px;
  height: 19px;
  background: #663399;
  border: 0.5px solid #000000;
  border-radius: 26px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e6d9f2;
}
input[type=range]::-moz-range-track {
  background: rgba(102, 51, 153, 0.3);
  border: 0.5px solid #000000;
  border-radius: 10.1px;
  width: 100%;
  height: 11.8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 19px;
  height: 19px;
  background: #663399;
  border: 0.5px solid #000000;
  border-radius: 26px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.7px 0;
  color: transparent;
  width: 100%;
  height: 11.8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.5px solid #000000;
  border-radius: 20.2px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(102, 51, 153, 0.3);
  border: 0.5px solid #000000;
  border-radius: 20.2px;
}
input[type=range]::-ms-thumb {
  width: 19px;
  height: 19px;
  background: #663399;
  border: 0.5px solid #000000;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(102, 51, 153, 0.3);
}
input[type=range]:focus::-ms-fill-upper {
  background: #e6d9f2;
}

.btn-primary,
 .btn-primary:hover {
    background-color:#663399;
    border-color: #663399;
    color:#FFFFFF;
}

.gray-background {
    background-color:#EEEEEE;
    border-radius:15px;
}

.purpleHeader {
color:#663399;
}

.link {
color:#663399;
}

.link:hover {
color:#000000;
}

.centerText {
    text-align:center;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px dashed #663399;
  border-right: 1px dashed #663399;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}





.lib_Ref div#TableOfContents li a{
    color:rebeccapurple;
    text-decoration: underline;
    cursor: pointer;
}
.lib_Ref div#Methods
{
	padding-bottom:70px;
	border-bottom:solid lightgrey;
}
.lib_Ref div.MethodInfo h1
{
	font-weight:bold;
	color:rebeccapurple;
}
.lib_Ref div.MethodInfo p.methodShortDesc
{
	padding-left:40px;
}
.lib_Ref div.MethodInfo table
{
	border-left:5px lightgrey solid;
	border-radius:15px;
	margin:10px;
	table-layout: fixed;
}
.lib_Ref div.MethodInfo td.header h6
{
	background-color:lightgrey;
	margin-top:0px;
	padding:2px;
	padding-right:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.lib_Ref div.MethodInfo td.header
{
	display:table-caption;
	width: 100px;
}
.lib_Ref div#TableOfContents h3{
	font-size:26px;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:solid 2px rebeccapurple;
}
