body {
    /*! overflow-x:scroll; */
    font-family:'Roboto', sans-serif;
}

:root {
    --rebeccapurple:#663399;
}

div#BodyContent {
    padding:15px 10%;
    padding-bottom: 30px;
}

input[type=range] {
  width: 30%;
  margin: 3.6px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(102, 51, 153, 0.3);
  border: 0.5px solid #000000;
  border-radius: 10.1px;
  width: 100%;
  height: 11.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -4.1px;
  width: 19px;
  height: 19px;
  background: #663399;
  border: 0.5px solid #000000;
  border-radius: 26px;
  cursor: pointer;
  -webkit-appearance: none;
}









.btn-primary{
    background-color:#663399;
    border-color: #663399;
    color:#FFFFFF;
}

.btn-primary:hover {
background-color:#663399;
    border-color: #663399;
    color: #f0ad4e;
}

.gray-background {
    background-color:#EEEEEE;
    border-radius:15px;
    padding: 10px;
}

.purpleHeader {
color:#663399;
}

.link {
color:#663399;
}

.link:hover {
color:#000000;
}

.centerText {
    text-align:center;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px dashed #663399;
  border-right: 1px dashed #663399;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/* CSS for Documentation page */

#InputRow h4 {
  width: 100%;
  text-align:center;
}


#InputRow div p {
  font-size:12px;
}

#InputRow input {
    margin: auto;
    width: 80%;
    display: block;
    margin-bottom: 11px;
}

.slidecontainer input {
  margin-bottom: 20px;
}

#ResultsRow p {
  font-size:12px;
  width: max-content;
  margin: auto;
}

#ResultsRow div.row {
  width: 100%
}


#ResultsRow div.row div {

}

/* CSS for Documentation page */
.wiki div#TableOfContents{
    width: min-content;
    border-right:solid 2px rebeccapurple;
    padding-top:15px;
}

.wiki a{
    color:rebeccapurple;
    text-decoration: underline;
    cursor: pointer;
    font-size:15px;
}
.wiki div#TableOfContents h3{
	font-size:26px;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:solid 2px rebeccapurple;
}

.wiki div#Methods
{
    padding-top:15px;
	padding-bottom:70px;
	padding-left:50px;
	padding-right: 0px;
    width: max-content%;
    max-width: 71%;
}
.wiki div.MethodInfo
{
	padding-top:15px;
}
.wiki div.MethodInfo h1
{
	font-weight:bold;
	color:rebeccapurple;
}
.wiki div.MethodInfo p
{
	font-size: 13px;
}
.wiki div.MethodInfo p.methodShortDesc
{
	padding-left:40px;
  font-size: 16px;
}
.wiki div.MethodInfo h4
{

  font-size: 16px;
  margin: 0px;
  text-decoration: underline;
}
.wiki div.MethodInfo table
{
	border-left:5px lightgrey solid;
	border-radius:15px;
	margin:10px;
	table-layout: fixed;
}
.wiki div.MethodInfo td.header h6
{
	background-color:lightgrey;
	margin-top:0px;
	padding:2px;
	padding-right:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	font-size: 14px;
}
.wiki div.MethodInfo td.header
{
	display:table-caption;
	width: 100px;
}

.wiki div.AlgFunction h1
{
    text-align:center;
    font-weight:bold;
    color:rebeccapurple;
}

.wiki div.AlgFunction .stepnumber
{
font-weight:bold;
color:rebeccapurple;
}

.wiki div.AlgFunction .stepdesc
{
padding-left: 30px;
padding-top: 4px;

}

.wiki div.AlgFunction div.steprow
{
padding-top: 10px;
}

img.latex {
    image-rendering: crisp-edges;
}