/* Main Navbar at top of page */
nav#MainNav {
	background: var(--rebeccapurple);
	font-size:20px !important;
    color:white;
	padding: 0px 10px;
}

nav#MainNav .navbar-header{
    font-size:20px;
	border-right:3px solid #FFFFFF88;
	padding: 0px 20px;
}
nav#MainNav .nav-link{
    color:white;
}

div#navbarSupportedContent {
	margin: 0px;
	padding: 0px;
	margin-left: 15px;
}

div#navbarSupportedContent li{
    padding: 0px;
    margin: 5px 10px;
}

div#navbarSupportedContent li:hover{
	background-color: #512773;
}
div#navbarSupportedContent li.btn:active{
	box-shadow: 0 0 0 .25rem #3a1c52;
}