{% extends 'base.html' %}

<!-- This is how the base file for this page (no automation) should look:-->
<!-- <div class="container"> -->
<!--    <div class="row"> -->
<!--        <div class="col-md-3" id="TableOfContents"> -->
<!--            <h3 style="text-align:center;">Table of Contents</h3> -->
<!--            <h4>TomoClass</h4>  comment(TomoClass)  -->
<!--            <h4>TomoFunctions</h4> comment(TomoFunctions) -->
<!--            <h4>TomoDisplay</h4> comment(TomoDisplay) -->
<!--            <h4>Other Files</h4> comment(Other Files) -->
<!--         </div> -->
<!--        <div class='col-md-9' id='Methods'> comment(Open Methods Div) -->
<!--        </div> comment(Closing the Methods Div)  -->
<!--    </div> -->
<!--</div >-->

{% block head %}
{% endblock %}

{% block body %}
<div class="lib_Ref">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="TableOfContents">
                <h3 style="text-align:center;">Table of Contents</h3>
                <h4>TomoClass</h4> <!-- TomoClass -->
<ul>
  <li id="Tomography.Tomography_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">class Tomography</li>
  <li id="Tomography.setConfSetting_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">setConfSetting</li>
  <li id="Tomography.importConf_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">importConf</li>
  <li id="Tomography.importData_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">importData</li>
  <li id="Tomography.importEval_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">importEval</li>
  <li id="Tomography.standardizeConf_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">standardizeConf</li>
  <li id="Tomography.state_tomography_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">state_tomography</li>
  <li id="Tomography.state_tomo_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">state_tomo</li>
  <li id="Tomography.maximum_likelihood_tomography_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">maximum_likelihood_tomography</li>
  <li id="Tomography.maxlike_fitness_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">maxlike_fitness</li>
  <li id="Tomography.maxlike_fitness_hedged_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">maxlike_fitness_hedged</li>
  <li id="Tomography.linear_tomography_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">linear_tomography</li>
  <li id="Tomography.filter_data_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">filter_data</li>
  <li id="Tomography.buildTomoInput_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">buildTomoInput</li>
  <li id="Tomography.getNumCoinc_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getNumCoinc</li>
  <li id="Tomography.getNumSingles_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getNumSingles</li>
  <li id="Tomography.getCoincidences_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getCoincidences</li>
  <li id="Tomography.getSingles_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getSingles</li>
  <li id="Tomography.getTimes_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getTimes</li>
  <li id="Tomography.getMeasurements_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getMeasurements</li>
  <li id="Tomography.getNumBits_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getNumBits</li>
  <li id="Tomography.getNumDetPerQubit_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getNumDetPerQubit</li>
  <li id="Tomography.getNumOfDetectorsTotal_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getNumOfDetectorsTotal</li>
  <li id="Tomography.numBits_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">numBits</li>
  <li id="Tomography.getTomoInputTemplate_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getTomoInputTemplate</li>
  <li id="Tomography.getProperties_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getProperties</li>
  <li id="Tomography.tomography_states_generator_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">tomography_states_generator</li>
  <li id="Tomography.getBellSettings_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">getBellSettings</li>
</ul>
                <h4>TomoFunctions</h4> <!-- TomoFunctions -->
<ul>
  <li id="Function_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">Function</li>
  <li id="density2tm_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">density2tm</li>
  <li id="density2t_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">density2t</li>
  <li id="toDensity_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">toDensity</li>
  <li id="t_matrix_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">t_matrix</li>
  <li id="t_to_density_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">t_to_density</li>
  <li id="fidelity_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">fidelity</li>
  <li id="concurrence_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">concurrence</li>
  <li id="tangle_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">tangle</li>
  <li id="entropy_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">entropy</li>
  <li id="linear_entropy_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">linear_entropy</li>
  <li id="negativity_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">negativity</li>
  <li id="purity_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">purity</li>
  <li id="partial_transpose_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">partial_transpose</li>
  <li id="performOperation_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">performOperation</li>
  <li id="random_pure_state_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">random_pure_state</li>
</ul>
                <h4>TomoDisplay</h4> <!-- TomoDisplay -->
<ul>
  <li id="makeRhoImages_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">makeRhoImages</li>
  <li id="saveRhoImages_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">saveRhoImages</li>
  <li id="printLastOutput_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">printLastOutput</li>
  <li id="matrixToHTML_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">matrixToHTML</li>
  <li id="propertiesToHTML_li_link" onclick="displayMethod(this.innerHTML); this.style.fontWeight = 'bold'">propertiesToHTML</li>
</ul>
                <h4>Other Files</h4> <!-- Other Files -->
            </div>
            <div class='col-md-9' id='Methods'> <!-- Open Methods Div -->
<div>
  <div class="MethodInfo" id="Tomography.Tomography" style="display:inline;">
    <h1 class="MethodTitle">Tomography.Tomography</h1>
    <h3 class="MethodInfo">Tomography.class Tomography()</h3>
    <p class="methodShortDesc">This is the main tomography object that the library is built around. The goal is to only have one tomography object and edit the configuration settings as you go.</p>
  </div>
  <div class="MethodInfo" id="Tomography.setConfSetting" style="display:inline;">
    <h1 class="MethodTitle">Tomography.setConfSetting</h1>
    <h3 class="MethodInfo">Tomography.setConfSetting(setting, val)</h3>
    <p class="methodShortDesc">Sets a specific self.conf setting</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    setting : string</h4>
              <p>         The setting you want to update.         Possible values are ['NQubits', 'NDetectors', 'Crosstalk', 'Bellstate', 'DoDriftCorrection', 'DoAccidentalCorrection', 'DoErrorEstimation', 'Window', 'Efficiency', 'RhoStart', 'Beta']</p>
            </li>
            <li>
              <h4>    val : ndarray, int, or string</h4>
              <p>             The new value you want to the setting to be.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.importConf" style="display:inline;">
    <h1 class="MethodTitle">Tomography.importConf</h1>
    <h3 class="MethodInfo">Tomography.importConf(conftxt)</h3>
    <p class="methodShortDesc">Import a text file containing the configuration settings.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    conftxt : string</h4>
              <p>         path to configuration file</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.importData" style="display:inline;">
    <h1 class="MethodTitle">Tomography.importData</h1>
    <h3 class="MethodInfo">Tomography.importData(datatxt)</h3>
    <p class="methodShortDesc">Import a text file containing the tomography data and run tomography.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>   datatxt : string</h4>
              <p>        path to data file</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The predicted density matrix.</p>
            </li>
            <li>
              <h4>    intensity : float</h4>
              <p>         The predicted overall intensity used to normalize the state.</p>
            </li>
            <li>
              <h4>    fvalp : float</h4>
              <p>         Final value of the internal optimization function. Values greater than the number         of measurements indicate poor agreement with a quantum state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.importEval" style="display:inline;">
    <h1 class="MethodTitle">Tomography.importEval</h1>
    <h3 class="MethodInfo">Tomography.importEval(evaltxt)</h3>
    <p class="methodShortDesc">Import a eval file containing the tomography data and the configuration setting, then run tomography.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    evaltxt : string</h4>
              <p>         path to eval file</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The predicted density matrix.</p>
            </li>
            <li>
              <h4>    intensity : float</h4>
              <p>         The predicted overall intensity used to normalize the state.</p>
            </li>
            <li>
              <h4>    fvalp : float</h4>
              <p>         Final value of the internal optimization function. Values greater than the number         of measurements indicate poor agreement with a quantum state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.standardizeConf" style="display:inline;">
    <h1 class="MethodTitle">Tomography.standardizeConf</h1>
    <h3 class="MethodInfo">Tomography.standardizeConf()</h3>
    <p class="methodShortDesc">Helper function to handle different cases of conf inputs.</p>
  </div>
  <div class="MethodInfo" id="Tomography.state_tomography" style="display:inline;">
    <h1 class="MethodTitle">Tomography.state_tomography</h1>
    <h3 class="MethodInfo">Tomography.state_tomography(tomo_input, intensities)</h3>
    <p class="methodShortDesc">Main function that runs tomography.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    tomo_input : ndarray</h4>
              <p>         The input data for the current tomography. This is what tomo_input will be set to. Example can be seen at top of page.          See getTomoInputTemplate() to get a template for this input.</p>
            </li>
            <li>
              <h4>    intensities : 1darray with length = number of measurements</h4>
              <p>         Relative pump power (arb. units) during measurement; used for drift correction. Default will be an array of ones</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The predicted density matrix.</p>
            </li>
            <li>
              <h4>    intensity : The predicted overall intensity used to normalize the state.</h4>
              <p>         The predicted overall intensity used to normalize the state. </p>
            </li>
            <li>
              <h4>    fvalp : float</h4>
              <p>         Final value of the internal optimization function. Values greater than the number         of measurements indicate poor agreement with a quantum state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.state_tomo" style="display:inline;">
    <h1 class="MethodTitle">Tomography.state_tomo</h1>
    <h3 class="MethodInfo">Tomography.state_tomo(measurements, counts)</h3>
    <p class="methodShortDesc">Description not currently available</p>
  </div>
  <div class="MethodInfo" id="Tomography.maximum_likelihood_tomography" style="display:inline;">
    <h1 class="MethodTitle">Tomography.maximum_likelihood_tomography</h1>
    <h3 class="MethodInfo">Tomography.maximum_likelihood_tomography(starting_matrix, coincidences, m, acc)</h3>
    <p class="methodShortDesc">Calculates the most likely state given the data.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    starting_matrix : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The starting predicted state found with linear tomography.</p>
            </li>
            <li>
              <h4>    coincidences : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The counts of the tomography.</p>
            </li>
            <li>
              <h4>    m : ndarray with shape = (2^numQubits, 2^numQubits, number of measurements)</h4>
              <p>         The measurements of the tomography in density matrix form.</p>
            </li>
            <li>
              <h4>    acc : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The singles values of the tomography. Used for accidental correction.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The predicted density matrix.</p>
            </li>
            <li>
              <h4>    intensity : float</h4>
              <p>         The predicted overall intensity used to normalize the state.</p>
            </li>
            <li>
              <h4>    fvalp : float</h4>
              <p>         Final value of the internal optimization function. Values greater than the number         of measurements indicate poor agreement with a quantum state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.maxlike_fitness" style="display:inline;">
    <h1 class="MethodTitle">Tomography.maxlike_fitness</h1>
    <h3 class="MethodInfo">Tomography.maxlike_fitness(t, coincidences, accidentals, m, prediction)</h3>
    <p class="methodShortDesc">Calculates the diffrence between the current predicted state data and the actual data.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    t : ndarray</h4>
              <p>         T values of the current predicted state.</p>
            </li>
            <li>
              <h4>    coincidences : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The counts of the tomography.</p>
            </li>
            <li>
              <h4>    accidentals : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The singles values of the tomography. Used for accidental correction.</p>
            </li>
            <li>
              <h4>    m : ndarray with shape = (2^numQubits, 2^numQubits, number of measurements)</h4>
              <p>         The measurements of the tomography in density matrix form.</p>
            </li>
            <li>
              <h4>    prediction : ndarray</h4>
              <p>         Predicted counts from the predicted state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         value of the optimization function.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.maxlike_fitness_hedged" style="display:inline;">
    <h1 class="MethodTitle">Tomography.maxlike_fitness_hedged</h1>
    <h3 class="MethodInfo">Tomography.maxlike_fitness_hedged(t, coincidences, accidentals, m, prediction, bet)</h3>
    <p class="methodShortDesc">Calculates the diffrence between the current predicted state data and the actual data using hedged maximum likelihood.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    t : ndarray</h4>
              <p>         T values of the current predicted state.</p>
            </li>
            <li>
              <h4>    coincidences : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The counts of the tomography.</p>
            </li>
            <li>
              <h4>    accidentals : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The singles values of the tomography. Used for accidental correction.</p>
            </li>
            <li>
              <h4>    m : ndarray with shape = (2^numQubits, 2^numQubits, number of measurements)</h4>
              <p>         The measurements of the tomography in density matrix form .</p>
            </li>
            <li>
              <h4>    prediction : ndarray</h4>
              <p>         Predicted counts from the predicted state.</p>
            </li>
            <li>
              <h4>    bet : float 0 to .5</h4>
              <p>         The beta value used. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         value of the optimization function.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.linear_tomography" style="display:inline;">
    <h1 class="MethodTitle">Tomography.linear_tomography</h1>
    <h3 class="MethodInfo">Tomography.linear_tomography(coincidences, measurements)</h3>
    <p class="methodShortDesc">Uses linear techniques to find a starting state for maximum likelihood estimation.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    coincidences : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The counts of the tomography.</p>
            </li>
            <li>
              <h4>    measurements : ndarray with shape = (number of measurements, 2*numQubits)</h4>
              <p>         The measurements of the tomography in pure state form . </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The starting predicted state.</p>
            </li>
            <li>
              <h4>    intensity : float</h4>
              <p>         The predicted overall intensity used to normalize the state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.filter_data" style="display:inline;">
    <h1 class="MethodTitle">Tomography.filter_data</h1>
    <h3 class="MethodInfo">Tomography.filter_data(tomo_input, intensities)</h3>
    <p class="methodShortDesc">Filters the data into separate arrays.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    tomo_input : ndarray</h4>
              <p>         The input data for the current tomography. This is what self.tomo_input will be set to. Example can be seen at top of page.          See getTomoInputTemplate() to get a template for this input.</p>
            </li>
            <li>
              <h4>    intensities : 1darray with length = number of measurements</h4>
              <p>         Relative pump power (arb. units) during measurement; used for drift correction. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    data : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The counts/coincidences of the tomography.</p>
            </li>
            <li>
              <h4>    measurements_densities : ndarray with shape = (2^numQubits, 2^numQubits, number of measurements)</h4>
              <p>         The measurements of the tomography in density matrix form.</p>
            </li>
            <li>
              <h4>    measurements_pures : ndarray with shape = (number of measurements, 2*numQubits)</h4>
              <p>         The measurements of the tomography in pure state form.</p>
            </li>
            <li>
              <h4>    acc : ndarray with length = number of measurements or shape = (number of measurements, 2^numQubits) for 2 det/qubit</h4>
              <p>         The singles values of the tomography. Used for accidental correction.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.buildTomoInput" style="display:inline;">
    <h1 class="MethodTitle">Tomography.buildTomoInput</h1>
    <h3 class="MethodInfo">Tomography.buildTomoInput(tomo_input, intensities)</h3>
    <p class="methodShortDesc">Description not currently available</p>
  </div>
  <div class="MethodInfo" id="Tomography.getNumCoinc" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getNumCoinc</h1>
    <h3 class="MethodInfo">Tomography.getNumCoinc()</h3>
    <p class="methodShortDesc">Returns the number of coincidences per measurement for the current configurations.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getNumSingles" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getNumSingles</h1>
    <h3 class="MethodInfo">Tomography.getNumSingles()</h3>
    <p class="methodShortDesc">Returns the number of singles per measurement for the current configurations.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getCoincidences" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getCoincidences</h1>
    <h3 class="MethodInfo">Tomography.getCoincidences()</h3>
    <p class="methodShortDesc">Returns an array of counts for all the measurments.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getSingles" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getSingles</h1>
    <h3 class="MethodInfo">Tomography.getSingles()</h3>
    <p class="methodShortDesc">Returns an array of singles for all the measurments.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getTimes" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getTimes</h1>
    <h3 class="MethodInfo">Tomography.getTimes()</h3>
    <p class="methodShortDesc">Returns an array of times for all the measurments.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getMeasurements" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getMeasurements</h1>
    <h3 class="MethodInfo">Tomography.getMeasurements()</h3>
    <p class="methodShortDesc">Returns an array of measurements in pure state form for all the measurments.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getNumBits" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getNumBits</h1>
    <h3 class="MethodInfo">Tomography.getNumBits()</h3>
    <p class="methodShortDesc">returns the number of qubits for the current configurations.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getNumDetPerQubit" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getNumDetPerQubit</h1>
    <h3 class="MethodInfo">Tomography.getNumDetPerQubit()</h3>
    <p class="methodShortDesc">returns the number of detectors per qubit for the current configurations.</p>
  </div>
  <div class="MethodInfo" id="Tomography.getNumOfDetectorsTotal" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getNumOfDetectorsTotal</h1>
    <h3 class="MethodInfo">Tomography.getNumOfDetectorsTotal()</h3>
    <p class="methodShortDesc">Returns the total number of detectors for the current configurations.</p>
  </div>
  <div class="MethodInfo" id="Tomography.numBits" style="display:inline;">
    <h1 class="MethodTitle">Tomography.numBits</h1>
    <h3 class="MethodInfo">Tomography.numBits(numBits)</h3>
    <p class="methodShortDesc">Returns an array of standard measurments in pure state form for the given number of qubits.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    numBits : int</h4>
              <p>         number of qubits you want for each measurement. Default will use the number of qubits in the current configurations.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.getTomoInputTemplate" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getTomoInputTemplate</h1>
    <h3 class="MethodInfo">Tomography.getTomoInputTemplate()</h3>
    <p class="methodShortDesc">returns a standard template for tomo_input for the given number of qubits.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    numBits : int</h4>
              <p>         number of qubits you want for each measurement. Default will use the number of qubits in the current configurations. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    Tomoinput : ndarray</h4>
              <p>         The input data for the current tomography. This is what tomo_input will be set to. Example can be seen at top of page.          See getTomoInputTemplate() to get a template for this input.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.getProperties" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getProperties</h1>
    <h3 class="MethodInfo">Tomography.getProperties(rho, bounds)</h3>
    <p class="methodShortDesc">Returns all the properties of the given density matrix. Using bounds will not change the conf settings. The calculated properties are determined by self.err_functions.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rho : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The density matrix you would like to know the properties of.</p>
            </li>
            <li>
              <h4>    bounds : boolean</h4>
              <p>         Set this to true if you want error bounds on your estimated property values. Default is False.         These are determined with monte carlo simulation and the states are saved under self.mont_carl_states </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    vals : ndarray with shape = (length of self.err_functions, 2)</h4>
              <p>         The first col is the name of the property.         The second col is the value of the property.         The third col is the error bound on the property.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.tomography_states_generator" style="display:inline;">
    <h1 class="MethodTitle">Tomography.tomography_states_generator</h1>
    <h3 class="MethodInfo">Tomography.tomography_states_generator(n)</h3>
    <p class="methodShortDesc">Uses monte carlo simulation to create random states similar to the estimated state. The states are also saved under self.mont_carl_states</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    n : int</h4>
              <p>         Number of approximate states you want to create.         If no value is given it will use the conf settings.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhop : ndarray with shape = (n, 2^numQubits, 2^numQubits)</h4>
              <p>         The approximate density matrices.</p>
            </li>
            <li>
              <h4>    intenp : ndarray with length = n</h4>
              <p>         The intensity of each approximate density matrices.</p>
            </li>
            <li>
              <h4>    fvalp : ndarray with length = n</h4>
              <p>         The fval of the regression associated with each approximate density matrices.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Tomography.getBellSettings" style="display:inline;">
    <h1 class="MethodTitle">Tomography.getBellSettings</h1>
    <h3 class="MethodInfo">Tomography.getBellSettings(rho, bounds = -1)</h3>
    <p class="methodShortDesc">Returns the optimal measurment settings for the CHSH bell inequality. Using bounds will not change the conf settings.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>        DISCLAIMER : In Progress, have not checked.</h4>
              <p> </p>
            </li>
            <li>
              <h4>        rho : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>             The density matrix you would like to know the optimal bell measurment settings of.</p>
            </li>
            <li>
              <h4>        bounds : boolean</h4>
              <p>             Set this to true if you want error bounds on your estimated measurment settings. Default will use the conf settings.             These are determined with monte carlo simulation and the states are saved under self.mont_carl_states </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>        vals : ndarray with shape = (length of self.err_functions, 2 or 3)</h4>
              <p>             The first col is the associated side             The second col is the detector settings on the associated side.             The third col is the error bound on the detector settings.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="Function" style="display:inline;">
    <h1 class="MethodTitle">Function</h1>
    <h3 class="MethodInfo">Function()</h3>
    <p class="methodShortDesc">short desc</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    x1, x2 : ndarray</h4>
              <p>         Input arrays to be multiplied. If ``x1.shape != x2.shape``, they must be broadcastable to a common shape (which becomes the shape of the output). </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    y : ndarray</h4>
              <p>         The product of `x1` and `x2`, element-wise.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="density2tm" style="display:inline;">
    <h1 class="MethodTitle">density2tm</h1>
    <h3 class="MethodInfo">density2tm(rhog)</h3>
    <p class="methodShortDesc">Converts a density matrix into a lower t matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Array to be converted. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    tm : ndarray</h4>
              <p>         Lower t matrix defining the input matrix.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="density2t" style="display:inline;">
    <h1 class="MethodTitle">density2t</h1>
    <h3 class="MethodInfo">density2t(rhog)</h3>
    <p class="methodShortDesc">Converts a density matrix into a list of t values</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Array to be converted. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    t : ndarray</h4>
              <p>         List of t values defining the input matrix.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="toDensity" style="display:inline;">
    <h1 class="MethodTitle">toDensity</h1>
    <h3 class="MethodInfo">toDensity(psiMat)</h3>
    <p class="methodShortDesc">Converts a pure state into a density matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    psiMat : ndarray</h4>
              <p>         Pure state to be converted. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    psiMat : ndarray</h4>
              <p>     rhog: ndarray         Density Matrix of the input state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="t_matrix" style="display:inline;">
    <h1 class="MethodTitle">t_matrix</h1>
    <h3 class="MethodInfo">t_matrix(t)</h3>
    <p class="methodShortDesc">Converts a list of t values to an lower t matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    t : ndarray</h4>
              <p>         List of t values converted. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    tm : ndarray</h4>
              <p>         Lower t matrix.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="t_to_density" style="display:inline;">
    <h1 class="MethodTitle">t_to_density</h1>
    <h3 class="MethodInfo">t_to_density(t)</h3>
    <p class="methodShortDesc">Converts a list of t values to a density matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    t : ndarray</h4>
              <p>         List of t values converted. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="fidelity" style="display:inline;">
    <h1 class="MethodTitle">fidelity</h1>
    <h3 class="MethodInfo">fidelity(state1, state2)</h3>
    <p class="methodShortDesc">Calculates the fidelity between the two input states.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    state1, state2 : ndarray</h4>
              <p>         Input arrays to calculate the fidelity between. Can be pure states or density matrices. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated fidelity.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="concurrence" style="display:inline;">
    <h1 class="MethodTitle">concurrence</h1>
    <h3 class="MethodInfo">concurrence(rhog)</h3>
    <p class="methodShortDesc">Calculates the concurrence of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated concurrence.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="tangle" style="display:inline;">
    <h1 class="MethodTitle">tangle</h1>
    <h3 class="MethodInfo">tangle(rhog)</h3>
    <p class="methodShortDesc">Calculates the tangle of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. Tangle is calculated by squaring the concurrence. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated tangle.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="entropy" style="display:inline;">
    <h1 class="MethodTitle">entropy</h1>
    <h3 class="MethodInfo">entropy(rhog)</h3>
    <p class="methodShortDesc">Calculates the Von Neumann Entropy of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated entropy.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="linear_entropy" style="display:inline;">
    <h1 class="MethodTitle">linear_entropy</h1>
    <h3 class="MethodInfo">linear_entropy(rhog)</h3>
    <p class="methodShortDesc">Calculates the linear entropy of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated linear entropy ranging from 0 to 1/(2^numQubits).         A value of zero corresponds to a completly pure state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="negativity" style="display:inline;">
    <h1 class="MethodTitle">negativity</h1>
    <h3 class="MethodInfo">negativity(rhog)</h3>
    <p class="methodShortDesc">Calculates the negativity of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated negativity.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="purity" style="display:inline;">
    <h1 class="MethodTitle">purity</h1>
    <h3 class="MethodInfo">purity(rhog)</h3>
    <p class="methodShortDesc">Calculates the purity of the input state.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Density Matrix of the desired state. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    val : float</h4>
              <p>         The calculated purity ranging from 1/(2^numQubits) to 1.         A value of one corresponds to a completly pure state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="partial_transpose" style="display:inline;">
    <h1 class="MethodTitle">partial_transpose</h1>
    <h3 class="MethodInfo">partial_transpose(rhog)</h3>
    <p class="methodShortDesc">Returns the partial transpose of the input density matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    DISCLAIMER : In Progress, not checked.</h4>
              <p> </p>
            </li>
            <li>
              <h4>    rhog : ndarray</h4>
              <p>         Input arrays find the partial transpose of. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    rv : ndarray</h4>
              <p>         Partial transpose of rhog.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="performOperation" style="display:inline;">
    <h1 class="MethodTitle">performOperation</h1>
    <h3 class="MethodInfo">performOperation(psi, g)</h3>
    <p class="methodShortDesc">Performs the operations on the input State.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    psi : ndarray</h4>
              <p>         The input state to do the operation on. Can be a pure state or a density matrix.</p>
            </li>
            <li>
              <h4>    g : ndarray with shape = (num operations, 2^numQubits, 2^numQubits)</h4>
              <p>         The operations you would like to be done. Can be one operation or an array of operations. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    p : ndarray</h4>
              <p>         The output state after the operations. Will retain the input form.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="random_pure_state" style="display:inline;">
    <h1 class="MethodTitle">random_pure_state</h1>
    <h3 class="MethodInfo">random_pure_state(N)</h3>
    <p class="methodShortDesc">Returns a random quantum state from a uniform distribution across the space.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    N : int</h4>
              <p>         The dimension of the quantum state </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    pure_state : ndarray with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         The random quantum state.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="makeRhoImages" style="display:inline;">
    <h1 class="MethodTitle">makeRhoImages</h1>
    <h3 class="MethodInfo">makeRhoImages(p, plt_given, customColor)</h3>
    <p class="methodShortDesc">Creates matlab plots of the density matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    p : ndarray with shape = (n, 2^numQubits, 2^numQubits)</h4>
              <p>         The density matrix you want to create plots of.</p>
            </li>
            <li>
              <h4>    plt_given : matplotlib.pyplot</h4>
              <p>         Input pyplot for which the figures will be saved on to.</p>
            </li>
            <li>
              <h4>    customColor : boolean</h4>
              <p>         Specify if you want our custom colorMap. Default is true</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="saveRhoImages" style="display:inline;">
    <h1 class="MethodTitle">saveRhoImages</h1>
    <h3 class="MethodInfo">saveRhoImages(p, pathToDirectory, customColor)</h3>
    <p class="methodShortDesc">Creates and saves matlab plots of the density matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    p : ndarray with shape = (n, 2^numQubits, 2^numQubits)</h4>
              <p>         The density matrix you want to create plots of.</p>
            </li>
            <li>
              <h4>    pathToDirectory : string</h4>
              <p>         Path to where you want your images to be saved.</p>
            </li>
            <li>
              <h4>    customColor : boolean</h4>
              <p>         Specify if you want our custom colorMap. Default is true.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="printLastOutput" style="display:inline;">
    <h1 class="MethodTitle">printLastOutput</h1>
    <h3 class="MethodInfo">printLastOutput(tomo, bounds)</h3>
    <p class="methodShortDesc">Prints the properties of the last tomography to the console. Properties are defined in tomography conf settings. Using bounds will not change the conf settings. The calculated properties are determined by self.err_functions.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    tomo : Tomography() Object</h4>
              <p>         This is the main tomography object. It will get the data from it's last tomography and print it.</p>
            </li>
            <li>
              <h4>    bounds : boolean</h4>
              <p>         Set this to true if you want error bounds on your estimated property values. Default is False.         These are determined with monte carlo simulation and the states are saved under self.mont_carl_states</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="matrixToHTML" style="display:inline;">
    <h1 class="MethodTitle">matrixToHTML</h1>
    <h3 class="MethodInfo">matrixToHTML(M)</h3>
    <p class="methodShortDesc">Creates an HTML table based on the given matrix.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    M : 2d numpy array with shape = (2^numQubits, 2^numQubits)</h4>
              <p>         Matrix you would like to display on your html page.</p>
            </li>
            <li>
              <h4>    printEigenVals : boolean</h4>
              <p>         Specify if you want eigen values to be calculated and displayed at the bottom of the table.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    res : string</h4>
              <p>         HTML code of the created table.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="MethodInfo" id="propertiesToHTML" style="display:inline;">
    <h1 class="MethodTitle">propertiesToHTML</h1>
    <h3 class="MethodInfo">propertiesToHTML(vals)</h3>
    <p class="methodShortDesc">Creates an HTML table based on the given property values.</p>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Parameters:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    vals : ndarray with shape = (length of self.err_functions, 2)</h4>
              <p>         The first col is the name of the property.         The second col is the value of the property.         The third col is the error bound on the property. </p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="paramReturn">
      <tr>
        <td class="header">
          <h6>Returns:</h6>
        </td>
        <td class="list">
          <ul>
            <li>
              <h4>    res : string</h4>
              <p>         HTML code of the created table.</p>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
            </div> <!-- Closing the Methods Div -->
        </div>
    </div>
</div>

{% endblock %}
