{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div class="lib_Ref">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="TableOfContents">
                <h3 style="text-align:center;">Table of Contents</h3>
                <h4>TomoClass</h4> <!-- TomoClass -->
                <ul>
                    {% for function in TomoClassFunctions %}
                    <li><a href="{{url_for('displayDocumentationPage', display = function) }}">{{function}}</a></li>
                    {% endfor %}
                </ul>
                <h4>TomoFunctions</h4> <!-- TomoFunctions -->
                <ul>
                    {% for function in TomoFunctionsFunctions %}
                    <li><a href="{{url_for('displayDocumentationPage', display = function) }}">{{function}}</a></li>
                    {% endfor %}
                </ul>
                <h4>TomoDisplay</h4> <!-- TomoDisplay -->
                <ul>
                    {% for function in TomoDisplayFunctions %}
                    <li><a href="{{url_for('displayDocumentationPage', display = function) }}">{{function}}</a></li>
                    {% endfor %}
                </ul>
                <h4>Other Files</h4> <!-- Other Files -->
            </div>
            <div class='col-md-9'> <!-- Open Methods Div -->
                <div id="Methods">
                    {% for i in range(count) %}
                    <div class="MethodInfo" id="{{ titles[i] }}" style={% if disp == functions[i] %}"display:inline;" {% else %} "display:none;" {% endif %}>
                        <h1 class="MethodTitle">{{ titles[i] }}</h1>
                        <h3 class="MethodInfo">{{ function_parameters[i] }}</h3>
                        <p class="methodShortDesc">{{ descriptions[i] }}</p>
                        {% if param_bools[i] %}
                        <table class="paramReturn">
                            <tr>
                                <td class="header">
                                    <h6>Parameters:</h6>
                                </td>
                                <td class="list">
                                    <ul>
                                        {% for param, desc in param_dicts[i].items() %}
                                            <li>
                                                <h4>{{param}}</h4>
                                                <p>{{desc}}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        {% endif %}
                        {% if return_bools[i] %}
                        <table class="paramReturn">
                            <tr>
                                <td class="header">
                                    <h6>Returns:</h6>
                                </td>
                                <td class="list">
                                    <ul>
                                        {% for returnVal, desc in return_dicts[i].items() %}
                                            <li>
                                                <h4>{{returnVal}}</h4>
                                                <p>{{desc}}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <h3>Contact</h3>
				<p>
					In case you have any further questions about the Python code, you should direct them
					to <a href="mailto://turroscott@gmail.com">Scott Turro</a>.
				</p>
            </div> <!-- Closing the Methods Div -->
        </div>
    </div>
</div>

{% endblock %}